<h2>Browse Cohorts</h2>
<% if @cohorts.empty? %>
  <p>There are no Cohorts in the database yet!</p>
<% else %>
  <% @cohorts.each do |cohort| %>
    <% if !cohort.users.instructors.empty? %>
      <%= image_tag(cohort.users.instructors.first.avatar) %>
    <% end %>
    <%= cohort.name %>
  <% end %>
<% end %>
