<div class = "menu">
  <div class="" style = "background-image: url('<%= image_url(@user.avatar) %>'); background-position: center; height: 128px; width: 64px; margin: auto; padding: 0px;">
  </div>
</div>
