<div class="" style = "background-image: url('/assets/portraits/FFT_Red_Chocobo_Portrait.png'); background-position: center; height: 128px; width: 64px; margin: auto; padding: 0px;">

</div>
<h4 style = "margin: 0; padding: 0;">PAMELA ADMIN</h4>
<p style = "margin: 0;">There is some test text here</p>
