<%= stylesheet_link_tag 'pages', 'data-turbolinks-track': 'reload' %>
<div class = "logo"></div>
<div class = "menuline">
  <ul class = "menu mainmenu">
    <li class = "navitem"><a href = "/login">Log In</a></li>
    <li class = "navitem"><a href = "/newMember">New User</a></li>
  </ul>
</div>
