/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 * require_tree
 */

 @font-face {
   font-family: "Final Fantasy";
   src: url("finalf.ttf");
 }

 @font-face {
   font-family: "Altima";
   src: url("Altima.eot");
   src: url("Altima.woff2") format('woff2'),
        url("Altima.woff") format('woff'),
        url("Altima.ttf") format('truetype'),
        url("Altima.svg#Altima") format('svg');
 }

 /* Start Default styling override */
 :root {
   color: black;
   font-family: Altima;
   background-color: black;
   cursor: url('FFTCursor.png') 30 0, auto;
 }

 a {
   cursor: url('FFTCursor.png') 30 0, auto;
 }

 ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
 }

 li {
   padding-top: .1em;
   padding-bottom: .1em;
 }

 body {
   padding: 0;
   margin: 0;
 }

 a {
   text-decoration: none;
   color: black;
 }

 .field_with_errors {
   padding: 0;
   display: inline;
 }

 h2,h3,h4,h5,h6 {
   font-weight: 500;
   margin: 0;
 }
 /* End Default Style Override */

 .menu {
   box-sizing: border-box;
   display: inline-block;
   max-height: 0;
   width: 0;
   opacity: .9;
   position: relative;
   z-index: 1;
   background-color: #a49c83;
   overflow: hidden;
   box-shadow: 4px 5px #1b1b1b;
   border-radius: 1px;
   font-size: 2em;
   transition: all 0.1s linear;
 }

 .show {
   border: 2px outset #d6d6d6;
   padding: .5em 1em;
   height: auto;
   max-height: 100%;
   width: auto;
 }

 .user {
   text-align: center;
   box-sizing: border-box;
   display: inline-block;
   position: relative;
   z-index: 1;
   background-color: rgba(0,0,0,.4);
   box-shadow: 0 0 25px black;
   overflow: hidden;
   font-size: 2em;
   color: white;
   text-shadow: 0px 0px 6px #000;
 }

 .user>*{
   color: white;
 }
