/*
 * This is a manifest file that'll be compiled into pages.css, which will include all the files
 * listed below.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require application
 *= require_self
 */

 :root {
   background-image: url('background.png');
 }

 body {
   display: grid;
   grid-template-rows: 60vh 40vh;
   grid-template-columns: [user] 15em [c];
   grid-template-areas: "user c"
                        "menu c";
 }

 div {
   padding: 10px;
 }

 .menu {
   width: 100%;
   margin: auto;
 }
